// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$font-size-root: 16px;
$body-font-family: 'Montserrat', sans-serif;


.v-application {
    font-family: $body-font-family, sans-serif !important;
    line-height: 1.6;
    .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 { 
        font-family: $body-font-family, sans-serif !important;
     }
  }


.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 16px;
   
}

.btn--primary {
    background-color: #6200ea;
    color: #fff !important;
}

.btn--disabled {
    background: rgba(#fff, 0.3);
    color: #ccc;
}